<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Encuentralo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton cancelButtonText="Custom Cancel" animated></ion-searchbar>

  <ion-list>
    <ion-list-header>
      <ion-label>Tutores</ion-label>
    </ion-list-header>
    <ion-virtual-scroll [items]="users" approxItemHeight="320px">
      <ion-item *virtualItem="let user">
        <ion-thumbnail slot="start">
          <img [src]="user.picture.medium" [height]="100" [alt]="user.name.fist">
        </ion-thumbnail>
        <ion-label>
          <h2>{{user.name.first | uppercase}}</h2>
          <p>{{user.location.city}}</p>
          <p>{{user.email}}</p>
        </ion-label>
        <ion-button fill="outline" slot="end">Ver</ion-button>
      </ion-item>
    </ion-virtual-scroll>
  </ion-list>

</ion-content>