<ion-header color="primary">
  <ion-toolbar>
    <ion-title text-center>
      Home
    </ion-title>
    <ion-button color="light"  fill="outline"><ion-icon name="menu" slot="icon-only"></ion-icon></ion-button>

    <ion-button float-right icon-only color="light"  fill="outline">
      <ion-icon slot="icon-only" name="contact"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>

<ion-searchbar showCancelButton cancelButtonText="Custom Cancel"></ion-searchbar>

    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
    
    <ion-chip>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>Avatar Chip</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
 

</ion-content>
